<a href="https://colab.research.google.com/github/mitakshra/Hello-world/blob/master/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from numpy import *
import numpy as np
import pandas as pd
import io
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import style
from scipy import stats
from google.colab import files
import math

from numpy.linalg import inv
uploaded = files.upload()
import csv
def partition(rows,spilt):
  features = len(rows[0])-1
  #print(features)
  total_elts = len(rows)-50
  print(total_elts)
  test = []
  train = []
  for x in range(len(rows)-1):
    for y in range(features):
      rows[x][y] = float(rows[x][y])
    if random.random() < split:
      train.append(rows[x])
    else:
      test.append(rows[x])
  
  return test,train
  
def eculediandistancee(instance1,instance2,)     

if __name__ == '__main__':
  df = pd.read_csv(io.StringIO(uploaded['iris.csv'].decode('utf-8')))
  lol = df.values.tolist()#to convert a data frame into list
  split = 0.5
  t = partition(lol,split)
  print(len(t[0]))
  
  train_data = t[1]
  test_data = t[0]

In [ ]:
import numpy as np
from operator import itemgetter

a = [[1,2],[2,3]]

(2, 2)

In [ ]:
##############Encoder#############
######a is 97 z is 122##########
s = input()
s1 = " "
for i in s:
  if i == " ":
    s1 = s1+" "
    
  if ord(i)<97 and ord(i)>=65:
    if ord(i)+13>96:
      s1 = s1+chr(((ord(i)+13)-96)+64)
    else:
      s1 = s1+chr(ord(i)+13)
    
  elif ord(i)>=97 and ord(i)<=122:
    
    if ord(i)+13>122:
      s1 = s1+chr(((ord(i)+13)-122)+96)
    else:
      s1 = s1+chr(ord(i)+13)
print(s1)

abs ss
 nof ff

In [ ]:
for i in range(65,97):
  print("{0}={1}".format(i,chr(i)))

In [ ]:
str1 = "56 27 67  78 "
s= str1.spilt()

In [ ]:
import random
for i in range(10):
  test1  = random.randint(0,20)
  print(test1)

In [ ]:
#####Program of compond intrest######
pri = int(input("enter principle amount"))
intr = pow(1.08,15)
amount = pri * intr
print(amount)

enter principle amount60000
190330.1468518963

In [ ]:
################implementing special function

s = {'name':'Brat',"lisa":"mona","lenw":"sowr"}
v = []
for i in s:
  v.append(s[i])
s = ""
for i in range(len(v)):
  if i<len(v)-1:
    if s == "":
      s = s+v[i]+""
    else:
      s = "\""
  if i==len(v)-1:
    s = s+'&'+v[i]
print(s)

"&sowr

In [ ]:
###########CAMEL CASE##########
str  = "camel case is working"
str1 = str.strip().split(" ")
st = " "
for i in str1:
  st = st+i[0].upper()+i[1:]
print(st)

 CamelCaseIsWorking

In [ ]:
##########permutations
from itertools import permutations
s = "aabb"
l = []
for i in s:
  l.append(i)
perm = permutations(l)
l1 = list(perm)
l3 = []
for i in l1:
  l2 = list(i)
  st = ""
  for j in l2:
    st = st+j
  l3.append(st.strip())
print(sorted(list(set(l3)),reverse=True))

['bbaa', 'baba', 'baab', 'abba', 'abab', 'aabb']

In [ ]:
,s = {'name':'Brat',"lisa":"mona","lenw":"sowr","raj":"rambo"}
v = []
t1 = ""
f = ""
v2 = ""
for i in s:
  v.append(s[i])
s1 = ",".join(v[:-1])+" "+"&"+" "+v[-1]
if(len(v ))

print(s1)

Brat,mona,sowr & rambo

In [ ]:
import random
for i in range(10):
  print(random.randint(1,100))
#####shuffle
l = [1,2,3,4,5]
for i in range(5):
  random.shuffle(l)
  print(l)
####random number 0 to 1 bith included
print(random.random())
##random number 1 to 10 both included
print(random.uniform(1,10))
#######choose three random numbers from a list
print(random.sample(l,3))
#######randrange
print(random.randrange(0,100,2))

In [ ]:
############ITERTOOS###
import itertools
print(itertools.count(10))

count(10)

In [ ]:
s=[[1,2,1],[2,3],[3,2],[1,2,1],[2,1,1]]
f_list  = set(tuple(sorted(x)) for x in s)
print(f_list)
g = []
while(sum())

{(2, 3), (1, 1, 2)}

In [ ]:
###########DUPLICATE ENCODERR###############
s = "AABSDFGGGDERB"
s1 = s
c= []
k = 0
t = []
for i in s:
  c.append(i)
for j in c:
  count = s.count(j)
  if count>1:
    s1 = s1.replace(j,')')
  else:
    s1 = s1.replace(j,'(')
    #print(s1)
print(s1)

)))()())))(()

In [ ]:
##########Conting value based on indiecs##########

l = [1,2,3,6,1,2,3]
result = []
for i in range(len(l)):
  sum = 0
  for j in range(0,i):
    sum = sum+l[j]
  if l[i] == sum:
    result.append(l[i])
print(result)

[3, 6]

In [ ]:
l = [1,100,50,-51,1,1]
result = []

for i in range(len(l)):
  sum1 = 0
  sum2 = 0
  if i == 0:
    continue
  else:
    for j in range(0,i):
      sum1 = sum1+l[j]
    for k in range(i+1,len(l)):
      sum2 = sum2+l[k]
    if sum1 == sum2:
      result.append(i)
print(result)

[1]

In [ ]:
##########ENCRYPTION PROBLEM ###############
cc = "4578965243"
c = []
for i in cc:
  c.append(i)
print(c)

for j in range(len(c)-4):
  c[j] = '#'
print(c)

print("'{0}'".format("".join(c)))

['4', '5', '7', '8', '9', '6', '5', '2', '4', '3']
['#', '#', '#', '#', '#', '#', '5', '2', '4', '3']
'######5243'

In [ ]:
s = "AAAAABBBCCCDDAAABB"
t = []
temp = []
temp1 = []
for i in s:
  t.append(i)

k = 0

for j in range(len(t)):
  if j == 0:
    temp.append(t[j])
  else:
    if temp[k]!=t[j]:
      k = k+1
      temp.append(t[j])
  
print(temp)

['A', 'B', 'C', 'D', 'A', 'B']

In [ ]:
l = [1,2,3]
print(l[::-1]))

In [ ]:
class node:
  def __init__(self,data):
    self.data = data
    self.link = None
class linklist:
  def __init__(self,data):
    self.root = node(data)
   
  def insert(self,data):
    p=self.root
    while p.link != None:
      p = p.link
    q = node(data)
    p.link = q
  
  def display(self):
    counter = 0
    while(self.root!= None):
         
      print(self.root.data)
      counter = counter+1
      self.root = self.root.link
    print(counter)
    

if __name__ == '__main__':
  l = linklist(10)
  l.insert(20)
  l.insert(30)
  l.display()

10
20
30
3

In [ ]:
st = "hello we are in the world of bay"
st1 = st.split(" ")
for i in st1:
  i = i+i[0]
  print(i[1:]+'ay')

ellohay
eway
reaay
niay
hetay
orldway
foay
aybay

In [ ]:
def f(x):
  d = 0
  while x>=1:
    (x,d) = (x/5,d+1)
  return d
if __name__ == '__main__':
 a =  f(4000)
 print(a)

6

In [ ]:
def h(n):
  s=0
  for i in range(2,n):
    if n%i == 0:
      s = s+i
  return s
def g(m,n):
  res = 0
  while m>=n:
    (res,m) = (res+1,m/n)
  return res
if __name__ == '__main__':
  #a = h(36)
  #b = h(34)
  #print(a-b)
  d = g()

35

In [ ]:
s = "foo1233"
#https://www.codewars.com/kata/54a91a4883a7de5d7800009c/train/python
m  = ['1','2','3','4','5','6','7','8']
s1 = " "
for i in s:
  if i in m:
    s1 = s1+i
  else:
    continue
print(s1)

 1233

In [ ]:
############USING RECURSION #########################
class btree:
  def __init__(self,data):
    self.data = data
    self.left = None
    self.right = None
  def insert(self,data):
    if self.data:
      if data<self.data:
        if self.left is None:
          self.left = btree(data)
        else:
          self.left.insert(data)
      elif data>self.data:
        if self.right is None:
          self.right = btree(data)
        else:
          self.right.insert(data)
    else:
      self.data = data
  def inorder(self):
    if self.left:
      self.left.inorder()
    print(self.data)
    if self.right:
      self.right.inorder()
  def preorder(self):
    print(self.data)
    if self.left:
      self.left.preorder()
    if self.right:
      self.right.preorder()
      
if __name__ == '__main__':
  root = btree(25)
  root.insert(20)
  root.insert(40)
  root.insert(10)
  root.insert(28)
  root.insert(33)
  root.insert(48)
  root.insert(17)
  root.inorder()
  print("#########")
  root.preorder()

In [ ]:
#############WITHOUT USING RECURSION###################


class btree:
  def __init__(self,data):
    self.data = data
    self.left = None
    self.right = None
  def insert(self,data):
    if self.data:
      if data<self.data:
        if self.left is None:
          self.left = btree(data)
        else:
          self.left = self.left
      elif data>self.data:
        if self.right is None:
          self.right = btree(data)
        else:
          self.right = self.right.right
    else:
      self.data = data
  def inorder(self):
    if self.left:
      self.left.inorder()
    print(self.data)
    if self.right:
      self.right.inorder()
if __name__ == '__main__':
  b = btree(48)
  b.insert(32)
  b.insert(72)
  b.insert(16)
  b.insert(41)
  b.insert(60)
  b.insert(87)
  b.insert(19)
  b.inorder()

In [ ]:
####how to reverse two largest words in a string###########
import operator
def reversee():
  li = input()
  temp = li.split(" ")
  lii = []
  for x in range(0,len(temp)):
    lii.append((len(temp[x]),x))
  kii = sorted(lii,reverse = True)
  index = []
  for i in range(2):
    index.append(kii[i][1])
  rev = []
  for i in index:
    rev.append(temp[i][::-1])
  print(rev)
  count = 0
  for i in index:
    temp[i] = rev[count]
    count = count+1
  print(" ".join(temp))
  #temp[]
  """"for i in index:
    print(temp[i].replace(temp[i],rev[count]))
    count = count+1
   """
if __name__ == '__main__':
  reversee()

In [ ]:
###program to return a dictionary of vowels in a string###
def vowel(s):
  vowe = ['a','e','i','o','u']
  count = 0
  for i in s:
    if i in vowe:
      count = count+1
  return count
def make():
  sample = input().split(" ")
  dictr= {}
  for k in sample:
    dictr[k] = vowel(k)
  print(sorted(dictr.keys()))##sorting on keys returning keys###
  print(sorted(dictr.items()))##sorting on keys but returning key,value pair## 
  print(sorted(dictr.items(),key = lambda x: x[1]))#sorting on values#
  print(sorted(dictr.values()))#sorting on values#
if __name__ == '__main__':
  make()

hello this worls is facing corona
['corona', 'facing', 'hello', 'is', 'this', 'worls']
[('corona', 3), ('facing', 2), ('hello', 2), ('is', 1), ('this', 1), ('worls', 1)]
[('this', 1), ('worls', 1), ('is', 1), ('hello', 2), ('facing', 2), ('corona', 3)]
[1, 1, 1, 2, 2, 3]

In [ ]:
####### Exception Handling ##############
x = 10
if x>5:
  raise Exception('the eception is raise:{}'.format(x))
####### Using Raise Exception ##########

In [ ]:
s = "hello world"
print(s[2:5])
  #print(i)

llo

In [ ]:
########## input out put in python ##########
l=[2,3,4,8,10]
o = 0
e = 0
for i in l:
  if i%2 == 0:
    val = i
    e=e+1
  else:
    val1 = i
    o = o+1
if(e == 1):
  print("remove even",val)
else:
  print("remove odd",val1)

integer

remove odd 3

In [ ]:
inte = 46288
sum = 0
p = 3
for i in str(inte):
  sum = sum+pow(int(i),p)
  p = p+1
if sum%inte == 0:
  print(int(sum/inte))
else:
  print("np")

51

In [ ]:
########tribonacci series############
li = [1,1,1]
p = li[0]
l = li[1]
f = li[2]
l2 = []
for i in range(10):
  n = p+l+f
  l2.append(n)
  #print(n)
  p = l
  l = f
  f = n
print(li+l2)

[1, 1, 1, 3, 5, 9, 17, 31, 57, 105, 193, 355, 653]

In [ ]:
s1 = "absbsbdbdbdbcc"
s2 = "xdjedjdjdwkkwwkw"
l = []
m = []
for i in s1:
  l.append(i)
for j in s2:
  m.append(j)
print(sorted(set(l+m)))

['a', 'b', 'c', 'd', 'e', 'j', 'k', 's', 'w', 'x']

In [ ]:
#   XOR Problem################
import numpy as np
x = [[0,0],[0,1],[1,0],[1,1]]
w = np.random.rand(8).reshape(4,2)
x_arr = np.asarray(x)
print(np.dot(w,x_arr.T))
print(np.asarray(x))

In [ ]:
from operator import itemgetter
t = input()
x = t.split(" ")
for i in x:
  if i == "":
    
    x.remove(i)
l = []
for i in x:
  sum = 0
  for j in i:
    sum = sum+int(j)
  l.append((sum,i))
res = " ".join(list(map(itemgetter(1),sorted(l))))
print(res)
#2000 10003 123400 4444444 11 11 22 123

56 65 74 100 99 68 86 180 90
100 180 90 56 65 74 68 86 99

In [ ]:
import numpy as np

a = [[9,7],[0,1]]
c = np.array(a)
b = [[1,1],[4,12]]
d = np.array(b)
print(np.dot(c,d))

[[37 93]
 [ 4 12]]

In [ ]:
    string =input()
    k = string.lower()
    l = []
    for i in k:
      l.append(k.count(i))
    if(len(set(l))==1):
      print("false")
    else:
      if len(k)==1:
        
        print(k)
      elif len(k) ==0:
        
        print("empty")
      elif len(k)>1:
        for i in range(len(k)):
          c = k.count(k[i])
          if c==1:
            print(string[i])
            break

aabb
false

In [ ]:
#########String Increemeter##########
m=['1','2','3','4','5','6','7','8','9','0']
s = " "

strn = "foo0999"
count = 0
for i in strn:
  if i in m:
    count = count+1
#print("total integers",count)
s = strn[len(strn)-count:]
#print("integr list",integ)
if s == " ":
  print(strn+"1")
elif strn == " ":
  print("1")
elif len(s)>=1:
  #print("length of s",len(s))
  zero = s.count('0')
  #z =str(len(s[0:len(s)-len(str(int(s)))]))
  #print("zero",z)
  #print(len(z))
  res = s[zero:]
  #print("res",res)
if zero>=1:
  #print("hi")
  ni = len(set(s[zero:].split(",")))==1
  if ni == 1:
    print(strn[0:len(strn)-len(s)]+s[1:zero]+str(int(res)+1))
  else:
    print(strn[0:len(strn)-len(s)]+s[0:zero]+str(int(res)+1))
else:
  print(len(strn),len(s))
  print(len(strn[0:len(strn)-len(s)]))

foo1000

In [ ]:
#########IP adress verification###########
from operator import itemgetter
s = "1222.36.45.12"
cout = s.count(".")
if cout == 3:
  print("first check")
  ip = s.split(".")
  print(ip)
  l = list(map(itemgetter(0),ip))
  print(l)
  if '0'in l:
    print("enter correct ip")
  else:
    k = 0
    for i in ip:
      if int(i)>=0 and int(i)<=255:
        k = k+1
    if k==4:
      print("true")
    else:
      print("false")

first check
['1222', '36', '45', '12']
['1', '3', '4', '1']
false

In [ ]:
!pip install tldextract

In [ ]:
##############Extract domain name from URL##################


import tldextract

s = "http://www.landur.com"
e = tldextract.extract(s)
print(e.domain)

landur

In [ ]:
##########password checker###########
import re
s = "aA123"
if re.match("^(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z]).{4,20}$",s):
  print("True")

True

In [ ]:
##############PICK PEAS##################
t = [1,2,3,2,2,1,3,2,3,3,3,3,3,1,2,2,2,2,1]#[2,6]: [3,3]
pos = []
peak = []
d = {}
k=1
for i in range(1,len(t)):
  l = t[i-k]
  print(l)
  if i<=len(t)-2:
    r = t[i+1]
  if t[i]>l and t[i]>r:
    pos.append(i)
    peak.append(t[i])
    print(l)
    k=k+1
  if t[i]>l and t[i]==r:
    r = t[i+1]
    print("hello")
    
    
print(pos,peak)

In [ ]:
from operator import itemgetter
l = ["ababta 20","dela 13","auro 71","colaba 12","baert 13","erqui 15"]
l1 = set(map(itemgetter(0),l))
print(l1)
dict = {}
for i in l1:
  k=0
  for j in l:
    if i == j[0]:
      k = k+1
    dict[i]=k
print(dict)

{'e', 'b', 'd', 'c', 'a'}
{'e': 1, 'b': 1, 'd': 1, 'c': 1, 'a': 2}

In [ ]:
s="a b b"
s1=s.split(" ")
print(s1)
s2 = []
for i in s1:
  if len(i)==1:
    s2.append(i.upper())
  else:
    str1 = ""
    for j in range(0,len(i)):
      if j==0:
        str1 = str1+(i[0].upper())
      else:
        str1 = str1+i[j]
    s2.append(str1)
print(s2)

['a', 'b', 'b']
['A', 'B', 'B']

In [ ]:
##########Longest Palindrome###########
s  = "i like raceCar that go fast"
s1 = s.split(" ")
l=0
for i in s1:
  sr = i[::-1]
  if i==sr and len(i)>l:
    l=len(i)
    f = i
print(f)

In [ ]:
##### FILES in PYTHON ############

test = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','R','S','T','U','V']
a = ['a','b','c','d','f']
k= ord(a[0])
for i in a:
  
  if ord(i)==k:
    print(i,chr(k))
    k = k+1
  else:
    print(chr(ord(i)-1))

a a
b b
c c
d d
e

In [ ]:
###########coding of Ball###########
v  = ((int(input("enter speed")))*5)/18

g = (9.81)
for i in range(1,20):
  t = i*10
  h = v*t-(.5*9.81*t*t)
  print(h)

Python basics

In [ ]:
2+2

In [ ]:
50-5*6

In [ ]:
int(17/3)

In [ ]:
17//3

5

In [ ]:
17%3

Working with srings

In [ ]:
'spam eggs'

In [ ]:
'doesn\'t'

In [ ]:
s = 'first line is this.\nSecond line is this'
print(s)
s

In [ ]:
print("\some\name")
print(r"\some\name")

In [ ]:
3*'py'+'thon'

In [ ]:
'hello' 'world'

In [ ]:
s='hello'
s 'world'

In [ ]:
s='hello'
s+'worls'

Decision control statements

In [ ]:
# if statement

a=10
if a>3:
  print(a)
if a>6:
  print(a)
if a>20:
  print(a)

10
10

In [ ]:
# if else
a,b=10,20
if a>b:
  print(a)
else:
  print(b)
x = int(input("enter x"))
y = int(input("enter y"))
z = int(input("enter z"))
# elif #else if
if x>y:
  print(x)
elif y>x and y>z: # and is conditional operator
  print(y)
else:
  print(z)

In [ ]:
a=3
b=6
print(a+b)

9

Loop structures

In [ ]:
#while loop
i=10
while i>1:
  print(i)
  i=i-1

In [ ]:
for i in range(5):
  print(i)

In [ ]:
for i in range(10):
  if i<5:
    print("ok")
    continue
  else:
    print("not ok")
    break

Pass satement

In [ ]:
#suppose we have a function or a loop which we want to implement but not now and 
#we cannot have an empty body of any of them then we use pass

In [ ]:
for i in range(5):
  pass

In [ ]:
def sum():
  pass

In [ ]:
#logical operators
a,b=10,20
if a>5 or b>50:
  print("hello")

hello

In [ ]:
#not operator
x=3
if  not x>3:
  print("true")
else:
  print("false")

true

Building blocks in python Functions

In [ ]:
def summ(a,b):
  #parameters
  c = a+b
  return c
result =  summ(10,20)
print(result)

30

parameters and scope of a variable

In [ ]:
a=10 #global for all functions
def sum1(x,y):#x,y,z are local to the function
  z= x+y+a
  print(z)
sum1(10,20)
#print(z)

def sum2():
  print("i am from sum2",a)
sum2()

In [ ]:
def value(var1,var2):
  x=var1+var2
  return x
k= value(10,60)
print(k)

70

In [ ]:
def academic(name,rollno,section="fourth"):
  print("name is",name)
  print("rollno is",rollno)
  print("class is",section)
#academic("ramesh",7124,"second")
academic("ramesh",7124)

name is ramesh
rollno is 7124
class is fourth

Nested function

In [ ]:
#recursion
def value(val1,val2):
  val3 = val1+val2
  return val3
res = valuee(12,15)
print(res)


#non recursion
def valuee(val1,val2):
  val3 = +val2
  print(val3)
valuee(10,15)

5
25

In [ ]:
def func1(var1,var2):
  def func2(var3):
    var4 = var1+var2+var3
    return var4
  result = func2(10)
  return result
result1 = func1(40,50)
print(result1)

100

In [ ]:
def func1():
  def func2(a,b):
    c=a+b
    print(c)
  func2(7,8)
func1()

Lambda Function

In [ ]:
l = [1,2,3,4,5]
val = list(filter(lambda x:x>2,l))
print(val)

[3, 4, 5]

Modules in python

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import sys
sys.path.append('https://colab.research.google.com/drive/1iyDaPZmQi1FzvBdd54eJ1kblLcnWvKWn?usp=sharing')

In [ ]:
import example
example.add(4,5)

In [ ]:
#appending string
s1 = "hello"
s2 = "world"
print(s1+s2)

In [ ]:
l = ["ram","shyam","mohan"]
s = "suresh"
if s in l:
  print("yes")
else:
  print("no")

list and tuples

In [ ]:
l = ["ram","shyam","mohan"]
#reverse of list
print(l[::-1])

['mohan', 'shyam', 'ram']

In [ ]:
m = ["sita","john"]
#appending two list
print(l+m)
s = "vijay"

['ram', 'shyam', 'mohan', 'sita', 'john']
['ram', 'shyam', 'mohan', 'vijay']

Unit 3 Manipulation of Strings and Regular Expressions

In [ ]:
test_list11  = ['abc','sef','egf','ger','ergf','sdfr','asdrf']
test_list22 = ['zxcve','zxcvg','werfd','wedse','lfgrs']

In [ ]:
# appending elements using iteration
for i in test_list22:
  test_list11.append(i)
print(test_list11)

In [ ]:
test_list1  = ['abc','sef','egf','ger','ergf','sdfr','asdrf']
test_list2 = ['zxcve','zxcvg','werfd','wedse','lfgrs']
test_list1 = test_list1+test_list2
print(test_list1)

['abc', 'sef', 'egf', 'ger', 'ergf', 'sdfr', 'asdrf', 'zxcve', 'zxcvg', 'werfd', 'wedse', 'lfgrs']

In [ ]:
#multiplying in python
s= "python"
print(s*3)

In [ ]:
# cannot multiply with a float
s = "python"
print(s*1)

python

In [ ]:
#comparing two strings
a = "Python"
b = "python"
if a==b:
   print(True)
else:
  print(False)

In [ ]:
a= 'Python'
b = 'Python'
if a==b:
  print(True)
else:
  print(False)
#lstrip and rstrip

In [ ]:
#String Formatting in Python
s1 = "Good"
s2 = 'Programmer'
#{} is a place holder to hold value in format funtion
print('always try to be a {0} and best {1}'.format(s1,s2))

always try to be a Good and best Programmer

# Slicing can be done in two ways using slice contructor and extending indexing..
Syntax: (start,stop)
        (start,stop,step)

In [ ]:
String = "PROGRAMMING"
s1= slice(3)
s2 = slice(1,5,2)
s3 = slice(-1,-12,-2)
print(String[s1])
print(String[s2])
print(String[s3])

In [ ]:
s4 = slice(5)
s5 = slice(2,8,2)
s6 = slice(-1,-10,-1)
print(String[s4])
print(String[s5])
print(String[s6])

In [ ]:
#extended Indexing"
print(String[:2])

PR

In [ ]:
print(String[2:])

OGRAMMING

In [ ]:
print(String[2:len(String)])

OGRAMMING

In [ ]:
print(String[:2]+String[2:])

PROGRAMMING

In [ ]:
print(String[:])

In [ ]:
print(String[-5:-1])

In [ ]:
print(String[6:2])

In [ ]:
print(String[2:6])

In [ ]:
print(String[0:7:2])

PORM

In [ ]:
print(String[1:9:2])

REGULAR EXPRESSIONS

In [ ]:
import re
p = re.compile('[a-e]')
print(p.findall("hello how are you doing in the python prograamming"))

In [ ]:
p = re.compile('\d')
print(p.findall('i am working from 10 am to 4 pm from 12 aug 2016'))

In [ ]:
p = re.compile('\d+')
print(p.findall('i am working from 10 am to 4 pm from 12 aug 2016'))

In [ ]:
p = re.compile('\w')
print(p.findall('i am working from 10 am to 4 pm from 12 aug 2016'))

['i', 'a', 'm', 'w', 'o', 'r', 'k', 'i', 'n', 'g', 'f', 'r', 'o', 'm', '1', '0', 'a', 'm', 't', 'o', '4', 'p', 'm', 'f', 'r', 'o', 'm', '1', '2', 'a', 'u', 'g', '2', '0', '1', '6']

In [ ]:
p = re.compile('\w+')
print(p.findall('i am working123 from 10 am to 4 pm from 12 aug 2016'))

In [ ]:
p = re.compile('\s')
print(p.findall('i am working from 10 am to 4 pm from 12 aug 2016'))

In [ ]:
p = re.compile('\S')
print(p.findall('i am working from 10 am to 4 pm from 12 aug 2016'))

In [ ]:

print(re.split(' ','i am working123 from 10 am to 4 pm from 12 aug 2016'))

In [ ]:
print(re.split('\w+ ','i! @ am working123 % $ ! from 10 am to 4 pm !@% &from 12 aug 2016'))

Examples of Regex

In [ ]:
import re
x = re.search("cat","A cat and a rat can't be friends")
print(x)

In [ ]:
x = re.search("cow","A cat and a rat can't be friends")
print(x)

In [ ]:
if re.search("cat","A cat and a rat can't be friends"):
  print("cat is found!!")
else:
  print("cat is not found")

In [ ]:
import re
line = "hi this is python programming language"
if re.search(r'p[yi][th]hon',line):
  print("found one")

found one

In [ ]:
# a regular expression is a special text string for describing a search pattern
S = "Rahul is 25 years old Mohan is 18 years old,Ramesh is 20 and Sanjay is 22 years"
name = re.findall(r'[A-Z][a-z]*',S) #return a list of matches
print(name)
age = re.findall(r'\d{1,3}',S)
print(age)
agename = {}
i=0
for n in name:
  agename[n]=age[i]
  i = i+1
print(agename)

['Rahul', 'Mohan', 'Ramesh', 'Sanjay']
['25', '18', '20', '22']
{'Rahul': '25', 'Mohan': '18', 'Ramesh': '20', 'Sanjay': '22'}

In [ ]:
s = "we need to inform all about exam information"
if re.search("inform",s):
  print("match found")
else:
  print("not found")

match found

In [ ]:
allinform = re.findall("inform",s)
print(allinform)
for i in allinform:
  print(i)

['inform', 'inform']
inform
inform

In [ ]:
# finding the starting and ending index of match string
for i in re.finditer("inform",s):
  loc = i.span()
  print(loc)

(11, 17)
(33, 39)

In [ ]:
# match string with a particular pattern
s1 = "rat,mat,hat,fox,camel,bat,owl,ball,cow"
allstr = re.findall("[rmhb]at",s1)
for i in allstr:
  print(i)

rat
mat
hat
bat

In [ ]:
#match with a series of string
allstrr = re.findall("[h-m]at",s1)
for i in allstrr:
  print(i)

mat
hat

In [ ]:
#replace a string
regex = re.compile("[rhm]at")
s2 = regex.sub("mice",s1)
print(s2)

mice,mice,mice,fox,camel,bat,owl,ball,cow

In [ ]:
# r is a raw string which treat \ slash as special
randstr = '''
python is a
very good programming languages
used widely by programmers
'''
print(randstr)

regex = re.compile("\n")
randstr = regex.sub(" ",randstr)
print(randstr)

In [ ]:
# matches works
randstrr = "12345"
randstr = re.findall('\d{1,2}',randstrr)
for i in randstr:
  print(i)
print("matches:",len(re.findall('\d{3}',randstrr)))
print("matches:",len(re.findall('\D',randstrr)))

In [ ]:
num = "123 1234 1234 12345 12346"
a = re.findall('\d{4,5}',num)
for i in a:
  print(i)
print("matches:",len(re.findall("123",num)))

1234
1234
12345
12346
matches: 5

look how \d{3} behave differntly in case of finall and in case of search
in latter case it llok for value 3 in the string of digit
in later case it seac for string of 3 digit long

In [ ]:
# searching authenticity of phone number
phn = '456-555-2313'
if re.search(r'\w{3}-\w{3}-\w{4}',phn):
  print("correct phone number")
else:
  print("false phone number")

correct phone number

In [ ]:
if re.search(r'\d{3}-\d{3}-\d{4}',phn):
  print("phoone is correct")
else:
  print("phone is not correct")

Email Verification
some fake email addresses


1.   SCCc#.com
2.   sk@gmail.com
3.   12sd@gmail.com
4.   DF@cm

#variables

In [ ]:
# integer 2 bytes character 1 byte float 4 byte
x = "ayushi" #x and y are character variables
y = "gupta"
z = 20.5 #z is a integer variable
print("i am ",x,y,"age",z)

i am  ayushi gupta age 20.5

In [ ]:
x = input("enter your name")
y = "gupta"
print(x+y)

#syntax

In [ ]:
# the way to write a statement in python IDE is called syntax
a = 10
b=20
c = a+b
print(c)

In [ ]:
x = "ram"
print(x)

ram

In [ ]:
# input by default take string value
a = input("skhkhksh")
b = input("enter second value")2
c = a+b
print(c)

List in python

In [ ]:
l = [] # empty list
l1 = [11,32,33,48,33,45,67,87,23,44]# integer list
c1 = ["ram","mohan","ramesh"] # list of string
#print(l1[-1],l1[3])

#Slicing a list
#print(l1[0:5])# : colon operator

#print(l1[2:]+l1[:4])# + is used for cocatenation operator not for addition

# Reverse of list
#there are two ways to reverse a list 1. slicing 2. reverse keyword
#print(l1[::-1])#using slicing operator
#print(l1.reverse)
#l = l1+c1
#len function is used to calculate the length of a list
#print(len(l))
m1  = [2,1,3,4]
m2 = [1,2,3,6]
print(m1[0]+m2[0])
print(m1[1]+m2[1])
print(m1[2]+m2[2])
print(m1[3]+m2[3])

In [ ]:
# deletion in list
# value based and index based
l = [11,23,31,40,52]
# remove it is a value based deletion
#l.remove(40)
# pop is used for index based deletion
l.pop(2)
print(l)

[11, 23, 40, 52]

In [ ]:
t  = (1,44,33,22,56,12) # t is a tuple
l1 = [32,54,65,78]
# tuple is immutable and list is mutable
#t[2]=23 # we can not change the value of tuple
print(t)
l1[2]=122 # we can change the value of list
print(l1)

(1, 44, 33, 22, 56, 12)
[32, 54, 122, 78]

In [ ]:
#maximum and minimum elts.
print(max(l1))
print(min(l1))

In [ ]:
#l1.append(23)
# append is used to add only one value at a time in the end of a list
l1.extend([12,3,4,5])
print(l1)
l1.sort()# sort is a function to sort in ascending order
print("sorted list",l1)

LOOPS IN PYTHON

In [ ]:
print(range(4))

range(0, 4)

In [ ]:
# FOR LOOP
# simple execution
c1 = ["ram","mohan","ramesh","shyam"] # list of string
for i in range(4):
  print(c1[i])

In [ ]:
# iteration or iterative approach
ayushi = []
for i in c1:
  # first time i has ram
  ayushi.append([i,len(i)])
print(ayushi)

[['ram', 3], ['mohan', 5], ['ramesh', 6], ['shyam', 5]]

In [ ]:
c1 = ["ram","mohan","ramesh","shyam"]

In [ ]:
S = input()
print(S[2:len(S)])

In [ ]:
l = [1,2,3,4]
m = [2,3,4,5]
even_filter = [22,33,44,65,76,78,90,12,48,23]
result = []
for var in even_filter:
  if var%2 != 0:
    result.append(var)
    #continue
  else:
    continue
    #result.append(var)
print(result)

In [ ]:
even_filter = [22,33,44,65,76,78,90,12,48,23]
for var in even_filter:
  if var%2==0:
    even_filter.remove(var)
    print(even_filter)
  
print(even_filter)

In [ ]:
list1 = [12,23,32,45]
list2 = [10,2,4,2]
diff = []
for i in range(len(list1)):
  diff.append(list1[i]-list2[i])
print(diff)

In [ ]:
if len(l1)==0:
  print("empty list")

In [ ]:
# Multiple List or multilist
multi_l1 = [[10,24,30],[12,31,41],[33,44,50]]
# 0th list is [10,24,30]  multi_l1[0][0] = 10,multi_l1[0][1]=24,multi_l1[0][2]=30
# 1st list is [12,31,41]  multi_l1[1][2]
# 2nd list is [33,44,50]

In [ ]:
for i in range(3):
  print("outer")
  for j in range(2):
    print("inner")

In [ ]:
name = ["Ram","ramesh"]
age = [20,30,40]
for n in name:
  for a in age:
    print([n,a])

In [ ]:
# sum function
def summ(a,b):# function definintion
  c  = a+b
  print(c)

summ(10,20)# function calling

for i in range(4):
  for j in range(3):
    summ(i,j)

Functions in Python

In [ ]:
# function are modules which take input and produce output
# the values which a function take are called parameters
def func1(a,b):#function definition
  c = a+b
  print(c)
  d  = a-b
  print(d)
def func2(l,m):
  print(l*l*l+m)
func1(6,4) #function calling
func2(6,5)#function calling

In [ ]:
def parser(num):
  print(num)
  if num%2==0:
    print("even")
  else:
    print("odd")

# passing value to a function using loops
for i in range(5):
  val = int(input("enter the number you want to check"))
  parser(val)

In [ ]:
# passing values to a function using list
l  = [1586,86,170,1758,1667]
for i in l:
  parser(i)#fnction calling

1586
even
86
even
170
even
1758
even
1667
odd

In [ ]:
def employee(name,salary=5000):
  print("name is",name,"and salary is",salary)
employee("ram",2000)

name is ram and salary is 2000

In [ ]:
employee("ramlal")

name is ramlal and salary is 5000

In [ ]:
def factorial(n):
  if n>1:
    return n*factorial(n-1)
  elif n==1:
    return 1
f = factorial(5)
print(f)

In [ ]:
s = ["ayushi","akshita","riya","priya","shweta"]
for i in range(len(s)):# i will become index number
  print(s[i],i)

ayushi 0
akshita 1
riya 2
priya 3
shweta 4

In [ ]:
for i in s:
  print(i)

In [ ]:
def slice(listt):
  #ans = []
  for i in listt:
    print(i[0:2])
  #print(ans)
listt = ["ayushi","riya","priya","akshita"]
slice(listt)

In [ ]:
def cubic(a,b,c,d,x):
  s = (a*(x**3))+(b*(x**2))+(c*x)+d*1
  return s
a = int(input("enter a"))
b = int(input("enter b"))
c = int(input("enter c"))
d = int(input("enter d"))
x = int(input("enter x"))
val = cubic(a,b,c,d,x)
print(val)

In [ ]:
# Dictionary in python
detail = {"ram":28,"ramesh":35,"ayushi":21}
print(detail.keys())
print(detail.values())

dict_keys(['ram', 'ramesh', 'ayushi'])
dict_values([28, 35, 21])

In [ ]:
# how to extend the dictionary
print(detail.items())

In [ ]:
detail['raja'] = 70
detail['akshita'] = 20

In [ ]:
detail.items()

dict_items([('ram', 28), ('ramesh', 35), ('ayushi', 21), ('raja', 70), ('akshita', 20)])

In [ ]:
for i in detail.keys():
  print(detail[i])

28
35
21
70
20

In [ ]:
l = list(detail.keys())
type(l)

In [ ]:
stu_rec = {} # dictionary declaration
stu_rec['akshita'] = ['bareilly',20,75]
stu_rec['ayushi'] = ['bareilly',21,55]
stu_rec['akki'] = ['lucknow',21,65]
stu_rec['rajaa'] = ['noida',20,80]
stu_rec['aksh'] = ['delhi',20,75]

In [ ]:
stu_rec.items()

In [ ]:
stu_rec.values()
for i in stu_rec.values():
  print(i[0])

bareilly
bareilly
lucknow
noida
delhi

OBJECT ORIENTED PROGRAMMING

# scope test

In [ ]:

def scope_test():
  def local_scope():
    text = "from local_scope"
    
  def non_local_scope():
    nonlocal text # create a global environment for scope_test function
    text = "non local text"
  def global_scope():
    global text #module level assignment
    text = "global text"
  text = "scope test"
  local_scope()
  print("After local scope function call",text)# scope test
  non_local_scope()
  print("after non local scope function call",text)
  global_scope()
  print("after global scope call",text)

scope_test()
print("after main scope test call ",text)

In [ ]:
class first:
  a  = "python" # instance variable and also member variables
  def f(self):
    return "hello python"
obj  = first() # instance creation or object creation
val = obj.f() # member function 
print(val)
print(obj.a)

public private and protected

In [ ]:
class Student:
  school = "GPM College"
  def __init__(self,name,rollno):#contructor of the class
    self.name = name #instance attribute
    self.rollno = rollno #instance attribute
std = Student("mohan",35)# constructor calling and object creation
print(std.name,std.rollno,std.school)# since variables are public

In [ ]:
#indivisual assigments in public 
std.name = "rajesh"
std.rollno = 123456
print(std.name,std.rollno,std.school)

In [ ]:
class Student_pr:
  _school = "GPM College"# single underscore is used for protected var.
  def __init__(self,name,rollno):
    self._name = name #instance attribute
    self._rollno = rollno #instance attribute
std = Student_pr("mohan",35)
print(std.name,std.rollno,std.school)

In [ ]:
std._name = "rajesh"
std._rollno = 123456
print(std._name,std._rollno,std._school)

In [ ]:
#private assignment
class Student_private:
  __school = "GPM College" # two under score for private var.
  def __init__(self,name,rollno):
    self.__name = name #instance attribute
    self.__rollno = rollno #instance attribute
  def printt(self):
    print(self.__name,self.__rollno,self.__school)
std = Student_private("mohan",35)
#std.printt()
print(std.__name,std.__rollno,std.__school)# an error comes

In [ ]:
std._name = "rajesh"# indivisula assignment outside the class are not allowed
std._rollno = 123456
print(std.__name,std.__rollno,std.__school)# since __name and other var. are private

In [ ]:
# full program of class
class employee:
  __employe = 0 # declare as private
  def __init__(self,name,age):
    self.name = name #public
    self.age = age #public
    employee.__employe = employee.__employe+1 # static variable will not reset it
  def display_employee(self):
    print("employee name",self.name,"and age is",self.age)
  def display_count(self):
    print("total number of employee are",employee.__employe)
e = employee("ram",25) # constructor calling
e.display_employee()
e = employee("yogesh",16)
e.display_employee()
e.display_count()
e = employee("rajesh",26)
e.display_count()

Creating more than one object if the class

In [ ]:
class car:
  def __init__(self,name,mileage):#constructor of a class
    self.name = name
    self.mileage = mileage
  def maxspeed(self,speed):
    return f"the name of the car is {self.name} and runs at the speed of {speed} with mileage{self.mileage}"
honda = car("honda",60)
honda.maxspeed(100)

skoda = car("skoda",60)
skoda.maxspeed(120)

'the name of the car is skoda and runs at the speed of 120'

In [ ]:
#Error by having one argument missing....

In [ ]:
class Car: # Parent class
  def __init__(self,name,mileage):
    self.name = name
    self.mileage = mileage
  def description(self):
    return f"the car is {self.name} run with mileage {self.mileage}"

class BMW(Car):# child class
  def bmw_desc(self):
    return " This is description of bmw"

obj1 = BMW("BMW 7 Series ", 20)#calling the constructor of BMW
print(obj1.bmw_desc())
print(obj1.description())

 This is description of bmw
the car is BMW 7 Series  run with mileage 20

In [ ]:
class Audi(Car):
  def audi_desc(self):
    return "this is the description of audi car"

obj2 = Audi("Audi A5 Series",18)
print(obj2.audi_desc())
print(obj2.description())

Encapsulation in python

In [ ]:
class Shape:#protected variables
  _length = 10 
  _breadth = 20

class Circle(Shape):
  def __init__(self):#printing protected variables in the derived class
    print(self._length)
    print(self._breadth)

cr = Circle()
#printing protected variablesoutsidethe class 'Shape' in which they are defined
print(cr._length)
print(cr._breadth)

10
20
10
20

In [ ]:
# demonstrating private aceess specifier

class Computer:

    def __init__(self):
        self.__maxprice = 900

    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()

c.__maxprice = 1000 # it is a strict private variable
c.sell()

c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000

Polymorphism in python

In [ ]:
class Parrot:

    def fly(self):
        print("Parrot can fly")
    
    def swim(self):
        print("Parrot can't swim")

class Penguin:

    def fly(self):
        print("Penguin can't fly")
    
    def swim(self):
        print("Penguin can swim")

# common interface
def flying_test(bird):
    bird.fly()

#instantiate objects
blu = Parrot()
peggy = Penguin()

# passing the object
flying_test(blu)
flying_test(peggy)

Parrot can fly
Penguin can't fly

In [ ]:
for i in range(2):# outer loop
  table = int(input("enter the number"))
  for j in range(1,11):#inner loop
    print(table,"*",j,"=",table*j)

In [ ]:
#multi type dictionary

multi_dict = {"ramesh":70, 12435:"ayushi", "vaibhav":60, 12144:'sohan'}
print(multi_dict.keys())# to check the flexibility of dictionary
print(multi_dict.values())
for i in range(2):
  key= input("enter the key")
  value = input("enter the value")
  multi_dict[key] = value # key ,value assignment
  
print(multi_dict)

dict_keys(['ramesh', 12435, 'vaibhav', 12144])
dict_values([70, 'ayushi', 60, 'sohan'])
enter the keycomputer
enter the valuescience
enter the keydata
enter the valuescience
{'ramesh': 70, 12435: 'ayushi', 'vaibhav': 60, 12144: 'sohan', 'computer': 'science', 'data': 'science'}

In [ ]:
dict2 = {'a':100,'b':200,'c':300,'d':400}#: key value pair
# calculate the sum of all values associated with their keys
# keys() and values()
print(dict2.keys())
print(dict2.values())
val = dict2.values() # val is a list
print(sum(val))

dict_keys(['a', 'b', 'c', 'd'])
dict_values([100, 200, 300, 400])
1000

In [ ]:
dictt = {'value':10,'value2':20,'value3':30,'value4':50}

val = dictt.values()
mult = 1
for i in val:
  mult = mult*i
  print(mult)
print("final multiplication of dict values",mult)

In [ ]:
dict2 = {'value5':20}
dict2.update(dictt)
dict2
dictt

{'value': 10, 'value2': 20, 'value3': 30, 'value4': 50}

In [ ]:
a, b = 10,20
a+b

30

In [ ]:
#calculate the length of the munber of keys of a string

In [ ]:
num = [11,23,45,23]
for i in num:
  print(i)

Files in Python...............

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

#CRUD 'r','w','a',

c: creating a file, r stands for reading, u stand for updating,
a stands for appending a file
File opeartions

In [ ]:
#path = '/content/drive/MyDrive/pythonfile/demofile2.txt'
path_ay = '/content/drive/MyDrive/ayushi/first.txt'
f = open(path_ay,'w')# it create a file if it does not exists
f.close()

In [ ]:
f = open(path_ay,'r') # open file in read mode
print(f.read()) # read function is used for reading data from file
f.close()

In [ ]:
file = open(path_ay,'r')
print(file.read(10)) # gives certain numbers of characters in a line
file.close()

1.   print(f.readline())# read output line by line
2.   print(f.readlines()) # read line seperately

In [ ]:
file = open(path_ay,'r')
#print the first line and stops
print(file.readline())

we learn python

In [ ]:
file = open(path_ay,'r')
print(file.readlines())
file.close()

['we learn python \n', 'python is fast language ']

In [ ]:
# Reading lines of the files using loops
f = open(path_ay,'r')
for line in path_ay:# iteratively
  print(f.readline())
f.close()

In [ ]:
# python write method
# to write in file we use to methods 'w' and 'a'
#'w' will over write the content of the file 
# 'a'it will append in the end of the file

In [ ]:
# Updating the file
f = open(path_ay,'w')
f.write('we are working on data science project')
f.write('okk world')
f.close()

In [ ]:
f = open(path_ay,'a')
f.write(" I am writing in appending mode")
f.close()

In [ ]:
# creating and writing the file from the console
path_ayy = '/content/drive/MyDrive/ayushi/second.txt'
f1 = open(path_ayy,'w')
f1.write("new file okk")
f1.write("writing in the same folder")
f1.close()

In [ ]:
# Deleting a file
import os
os.remove(path_ayy)
#if os.path.exists(path1)

In [ ]:
import os
if os.path.exists(path):
  os.remove(path)
else:
  print("file does not exists")

Tuples and dictionary

In [ ]:
#Value assignment using triplet
(age,name,value) = (23,"rohan",[1,2,3])
print(age,name,value)
print(value)
value1 = []
for i in value:
  print(i+3)
  value1.append(i+3)
print("new list is",value1)

23 rohan [1, 2, 3]
[1, 2, 3]
4
5
6
new list is [4, 5, 6]

In [ ]:
point = (3.5,4.8)# x and y cordinates
date =  (16,7,2013)# date

In [ ]:
#extract values using position or index and slicing
xcordinate = point[1]
monthyear = date[2:]
print(xcordinate)
print(monthyear)

4.8
(2013,)

In [ ]:
# tuples are immutable
date[1] = 12 #gives an error !

In [ ]:
# generalizing list as keys and values
#l = [13,46,0,25,72]
# so we can think in this way that l as a funtion associating
# index value with real value l(keys) = value
# l(0) = 13, l(1)=46 and so on...

In [ ]:
# convert the above list l into dictionary
# list are mutable in nature
l = [21,34,44,55]
l[2] = 75
print(l)

Dictionaries are the concept of allowing keys other than range(0,n)
key could be a string

In [ ]:
dict1 = {} # initialization
dict1['ramesh'] = 21
dict1['suresh'] = 22
dict1['rajesh'] = 44
# any immutable ca be a key
# can update values thus we can say that values are mutable
print(dict1)
dict1['ramesh'] = 56 # explict assignment or updation
print(dict1)

{'ramesh': 21, 'suresh': 22, 'rajesh': 44}
{'ramesh': 56, 'suresh': 22, 'rajesh': 44}

In [ ]:
# can nested dictionaries
marks= {} # outer dictionary
marks['test1'] = {} # two inner dictionaries seprated on basis of keys
marks['test2'] = {}
marks['test1']['vijay'] = 84
marks['test2']['suresh'] = 72
marks['test2']['ajay'] = 77
print(marks)

{'test1': {'vijay': 84}, 'test2': {'suresh': 72, 'ajay': 77}}

In [ ]:
#test1.keys()#return sequence of keys
print(marks.keys())
print(marks['test1'].keys())

dict_keys(['test1', 'test2'])
dict_keys(['vijay'])

In [ ]:
for k in sorted(marks.keys()):
  print(marks[k])

Complete the solution so that it returns true if the first argument(string) passed in ends with the 2nd argument (also a string).

Examples:

solution('abc', 'bc') # returns true
solution('abc', 'd') # returns false

NUMPY Package

In [ ]:
import numpy as np
data1 = [25,32.32,16,92,77]# it is a list data1
arr1 = np.array(data1)
print(arr1)
print(arr1.dtype)

In [ ]:
# create an array of zeros
arr_zero = np.zeros(10) # for single dimension
arr_zero_2d = np.zeros((4,5))
print(arr_zero,arr_zero_2d)

In [ ]:
arr_1 = np.ones(5)
arr_2 = np.ones((2,3))
#print(arr_1)
print(arr_2)

Exception Handling in Python

In [ ]:
# normal error
# compiler designing has two phases syntatical and semantical analysis
y  = (x/z)
print(y)

In [ ]:
# Exception is a super class of all errors
try:
  y = x/z
  val = list2[i]
except NameError:
  print("plz define x and z")
except Exception:
  print("Enter correct values")

plz define x and z

In [ ]:
# Syntax error
a,b=5,0
c = (a/b)
print(c)

ZeroDivisionError: ignored

In [ ]:
# exception handling
try:
  val1 = int(input("enter val1"))
  val2 = int(input("enter val2"))
  c = (val1/val2)
except ZeroDivisionError:
  print("please do not give zero value")
except NameError:
  print("please give values")
except Exception:
  print(" please check values")
else:
  print(" correct values were given",c)
finally:
  print(" always executed")

# else will execute only when try will not raise any exception
# finally block will always get executed

In [ ]:
# we can ues raise to throw the exception
x =5
if x>2:
  raise Exception("the value of x is {0} please keep less val than 2".format(x))

In [ ]:
import sys
def linux_interaction():
  assert('linux' in sys.platform),"function run only in linux system."
  print("doing something")
#linux_interaction()

try:
  linux_interaction()
except:
  print("Linux function was not executed")

In [ ]:
def divide_zero(num,div):
  c = num/div
  print(c)
try:
  divide_zero(5,2)
except:
  print("do not divide by zero")
else:
  print("try has executed sucess fully")

2.5
try has executed sucess fully

In [ ]:
# name error
# handling by explictily using NameError
num1=num2

In [ ]:
# inside the try and except block
try:
  num1 = num2
except NameError:
  print("exception is handleld in first block")
except Exception as ex:
  print("num2 needed to be defined...",ex)

exception is handleld in first block

In [ ]:
# the super class exception has to be in the last
try:
  num1 = 20
  num2 = 'str'
  num3 = num1+num2
  print(num3)
except Exception as ex:
  print(ex)

In [ ]:
try:
  a = int(input())
  b = int(input())
  c = a/b
  d = a*b
  e = a+b
except NameError ne:
  print("please define value...",ne)
except TypeError:
  print("Unsupported type")
except ZeroDivisionError:
  print("enter value greater than zero")
except Exception:
  print("plz enter correct values")
else:
  print(c)
  print(d)
  print(e)